.contact .avatarContainer {
  width: 100%;
  text-align: center;
}

.contact .avatarContainer .avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.contact .contactList {
  padding: 0 25px 0 0;
}

.contact .contactList li {
  border-radius: 50px;
  border: 1px solid var(--color-border);
  margin: 5px 0 5px 0;
  background-color: white;
  display:flex;
  align-items: center;
  gap: 5px;
}

.contact .contactList li a{
  color: var(--color-primary);
  text-decoration: none;
}

@media screen and (max-width:749px){
  .contact .avatarContainer {
    margin-top: 10px;
  }
}